# Base16 {{scheme-name}} for pyradio
# By {{scheme-author}}

# Main foreground and background
Stations            #{{base05-hex}} #{{base00-hex}}

# Playing station text color
# (background color will come from Stations)
Active Station      #{{base08-hex}}

# Status bar foreground and background
Status Bar          #{{base00-hex}} #{{base0D-hex}}

# Normal cursor foreground and background
Normal Cursor       #{{base00-hex}} #{{base0D-hex}}
Normal Cursor       #{{base00-hex}} #{{base0B-hex}}

# Cursor foreground and background
# when cursor on playing station
Active Cursor       #{{base00-hex}} #{{base08-hex}}

# Cursor foreground and background
# This is the Line Editor cursor
Edit Cursor         #{{base05-hex}} #{{base00-hex}}

# Text color for extra function indication
# and jump numbers within the status bar
# (background color will come from Stations)
Extra Func          #{{base08-hex}}

# Text color for URL
# (background color will come from Stations)
PyRadio URL         #{{base0B-hex}}

# Message window borser foreground
# (background color will come from Stations)
Messages Border     #{{base03-hex}}

# Theme Transparency
# Values are:
#   0: No transparency (default)
#   1: Theme is transparent
#   2: Obey config setting
transparency        0
